/* k_ajax */
#k_ajaxFly{position:absolute;top:10px;left:0;z-index:9999;width:140px}
#k_ajax{position:absolute;display:block;text-align:center;top:0;left:0;z-index:900;}
#k_ajax h5{margin:10px 0 5px 0;padding:0px;font-size:14px;border-bottom:1px solid #CCC;}
#k_ajax #k_ajaxBg{position:absolute;display:block;width:100%;height:100%;left:0;margin:0px;padding:0px;background:#21282E;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";filter:alpha(opacity=10);/*IE*/opacity:0.1;}
#k_ajax #k_ajaxBox{display:block;margin:0px;
	border:1px solid;border-color:#888 #666 #666 #888;background:#FFF;padding:1px;position:fixed;z-index:999;}
#k_ajax #k_ajaxBox #k_ajaxTitle{display:table;clear:both;line-height:28px;height:28px;margin:0px;padding:0px;text-align:right;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) repeat-x 0px 0px;}
	#k_ajax #k_ajaxBox #k_ajaxTitle strong{font-size:12px;display:block;float:left;text-align:left;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) no-repeat 0px -120px;text-indent:30px;color:#FFF;height:28px;}
	#k_ajax #k_ajaxBox #k_ajaxTitle a{font-size:10px;display:block;float:left;width:40px;text-align:left;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) no-repeat 0px -40px;color:#FFF;text-indent:4px;height:20px;}
	#k_ajax #k_ajaxBox #k_ajaxTitle a:hover{color:#000;text-decoration :none;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) no-repeat 0px -80px;color:#FFF;}
#k_ajax #k_ajaxBox #k_ajaxMain{display:block;overflow-y:auto;font-size:12px;text-align:left;padding:0px;line-height:20px;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) repeat-x 0px -280px;}

#k_ajax #k_ajaxBox #k_ajaxMain #k_ajaxContent{padding:30px;}
#k_ajax #k_ajaxBox #k_ajaxMain #k_ajaxContent tt{margin-left:5px;}

#k_ajax #k_ajaxBox #k_ajaxMain #k_ajaxContent .k_htm{display:table;clear:both;padding:5px 0px;margin:0px;}
#k_ajax #k_ajaxBox #k_ajaxMain #k_ajaxContent .k_htm label{display:block;float:left;line-height:25px;width:100px;}
#k_ajax #k_ajaxBox #k_ajaxMain #k_ajaxContent .k_htm p{display:block;float:left;padding:0px;margin:0px;float:left;}

#k_ajax #k_ajaxBox #k_ajaxMain table.k_tip{height:98px;font-size:14px;}
#k_ajax #k_ajaxBox #k_ajaxMain table.k_tip th{width:80px;text-align:center;}
#k_ajax #k_ajaxBox #k_ajaxMain table.k_tip td{text-align:left;}

#k_ajax #k_ajaxBox #k_ajaxSubmit{height:32px;clear:both;display:block;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) repeat-x 0px -160px;padding-right:5px;}
#k_ajax #k_ajaxBox #k_ajaxSubmit p{float:right;display:block;height:32px;padding:0px;margin:0px;}
#k_ajax #k_ajaxBox #k_ajaxSubmit p a{display:block;float:left;line-height:19px;height:19px;color:#000;padding:0px 15px;
	border:1px solid #7DAACC;margin:6px 0px 0px 3px;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) repeat-x 0px -200px;}
#k_ajax #k_ajaxBox #k_ajaxSubmit a:hover{text-decoration:none;border:1px solid #99FFFF;background:url("../images/ajax.png"/*tpa=http://www.worldtea-house.com/statics/images/ajax.png*/) repeat-x 0px -240px;}

.page{width:720px;text-align:right;margin:0px;padding:0px;}
.page *{font-size:12px;padding:2px 3px;margin-left:3px;}
.page strong{background:#ff7300;font-weight:normal;color:#FFF;width:auto!important;float:none!important;}
.page a{text-decoration:none;color:#ff7300;}
.page a:hover{text-decoration:none;background:#3875D7;color:#FFF;}
.page span{color:#999;}
.page input{border:1px solid;border-color:#777 #CCC #CCC #777;width:40px;}
#k_formlist{margin:0 auto;width:960px;}
.k_in {border:1px solid;border-color:#777 #CCC #CCC #777;font-size:14px;padding:2px;}
/* 表单 */
.k_htm{padding:4px 0px 0px 4px;margin:5px 0px;}
.k_htm_in{padding:0px 0px 0px 4px;margin:0px;}
.k_htm label , .k_htm_in label{width:150px;white-space:nowrap;line-height:14px;font-size:12px;display:block;clear:both;color:#000;}
.k_htm p{margin:0px;padding:0px;}
.k_htm p tt{margin-left:5px;}
.k_htm span label,.k_htm_in span label{display:inline;color:#000;font-size:12px;font-weight:normal;margin-right:5px;}


/* p.k_submit */
.k_submit{text-align:left;padding:4px 0px 0px 4px;margin:0px;}
.k_submit select{margin-left:20px;}
.k_submit input{padding:2px;line-height:12px;font-size:12px;margin-right:4px;border:1px solid;border-color:#787878 #ADADAD #5F5F5F #ADADAD;background:URL("../images/submit.png"/*tpa=http://www.worldtea-house.com/statics/images/submit.png*/) repeat-x top;}
.k_submit input.big{padding:5px;margin:10px 8px 10px 0px;}
.k_submit input.select{padding:0px;margin:0px;height:16px;font-size:12px;line-height:14px;background:none;border:none;}
.k_submit span input{border:none;background:none;color:#008000;font-size:12px;}
.k_submit span label{color:#008000;font-size:12px;}
/*user avatar*/
#k_ajaxContent dl,#k_ajaxContent dl dt,#k_ajaxContent dl dd{float:left;}
#k_ajaxContent dl{margin:0;padding:5px;}
#k_ajaxContent dl dd,#k_ajaxContent dl dt{margin:0;padding:0;}